
{% extends "base.html" %}
{% load static %}
{% block title %}
  Home page
{% endblock %}

{% block content %}
  <div class="row text-center">
    <div class="col">
      <h1>Welcome to Tweetme</h1>
    </div>
  </div>

  {# This is the form where you can create new tweets #}
  <div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
      <form class="form" id="tweet-create-form" action="/tweets/create/" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="/">
        <textarea class="form-control" name="content" placeholder="Your tweet..."></textarea>
        <button type="submit" class="btn btn-primary" name="submit-button">Tweet</button>
      </form>
    </div>
  </div>

  {# Javascript will fillup this div with all the tweets from database. #}
  <div class="row" id="tweets">
    Replace me
  </div>

  <script src="{% static "app.js" %}"></script>
{% endblock %}
